---
import LayoutCatalogo from '../../layouts/LayoutCatalogo.astro'
import CatalogoSearch from '../../components/catalogo/CatalogoSearch.jsx'

---
<LayoutCatalogo title="Catálogo">
  <main class="flex h-full items-start justify-center p-4">
  
  <CatalogoSearch/>
  </main> 
</LayoutCatalogo>