
        <header class='flex bg-gray-900 h-[10vh] text-white items-center justify-between p-4'>
            
            <a href='/'>
                <img src='/images/logo.png' alt='logo de la compañía' class='h-auto w-40' />
            </a>
            <nav class='mr-12'>
                <a href="/catalogo" class="mx-4">Todos Los Vehículos</a>
                <a href="/contacto" class="mx-4">Contacto</a>
                <a href="/dashboard" class="mx-3 bg-white text-gray-800 p-3 rounded-3xl font-semibold">Administracion</a>
            </nav>
        </header>