---
const {title} = Astro.props
import Header from '../components/catalogo/Header.astro'
import { ClientRouter } from 'astro:transitions';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
